---
import { List } from "../components/react/List";
import Slide from "../components/Slide.astro";
---

<Slide>
	<p>
		You probably don't need a UI framework like React, Vue or Svelte to make
		slides.
	</p>
	<p class="fragment">
		reveal.js provides plenty of features to make great presentations.
	</p>
	<p class="fragment">But...</p>
</Slide>

<Slide>
	<p>
		If you want / need to, you can import components made with any <a
			href="https://docs.astro.build/en/core-concepts/framework-components/"
			>UI framework</a
		> supported by Astro, and hydrate them only when needed.
	</p>
</Slide>

<Slide>
	<p>
		This is a demo of a slide using React and Framer Motion to hydrate this interactive
		component.
	</p>
	<p>
		<small>Try to drag & drop to reorder the items.</small>
	</p>
	<p>
		<small class="yikes">(it's broken, but you get the idea...)</small>
	</p>
	<div>
		<!-- Hydrate this React component (i.e. download and execute its code) only when the slide is visible -->
		<List client:visible />
	</div>
</Slide>

<style>
.yikes {
	font-size: .4em;
	margin-top: -1.5em;
	opacity: .8;
}
</style>
