---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h2>Why Astro ?</h2>
</Slide>

<Slide>
  <h2>Why Astro ?</h2>
  <ul>
    <li>Reusable components</li>
    <li class="fragment">CSS Preprocessors</li>
    <li class="fragment">Static generation</li>
    <li class="fragment">No extra JavaScript added to the bundle</li>
    <li class="fragment">Add UI frameworks if and where needed</li>
  </ul>
</Slide>
