---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/Title.astro";
import WhyAstro from "../slides/WhyAstro.astro";
---

<Layout title="My Awesome Talk Title">
  <main class="reveal">
    <div class="slides">
      <Title />
      <WhyAstro />
      <!-- Put your slides here -->
    </div>
  </main>
</Layout>

<style lang="scss">
  // Sass is installed by default, you can change if you prefer Stylus or Less
  main {
    background: linear-gradient(#133055, #0c1a2a);
  }
</style>
