---
interface Props {
  /**
   * Use the auto-animate feature for this slide or not
   *
   * default: true
   */
  animate?: boolean;
}

const { animate = true } = Astro.props;
---

<section data-auto-animate={animate}>
  <slot />
</section>
