---
export interface Props {
  /**
   * Title of the page
   */
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/slides-template/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body>
    <slot />

    <script>
      import Reveal from "reveal.js";

      Reveal.initialize({
        transition: "none",
        history: true,
        autoAnimateDuration: 0.5,
        autoAnimateEasing: "cubic-bezier(0.4, 0, 0.2, 1)",
      });
    </script>
  </body>
</html>

<style is:global>
  @import "reveal.js/dist/reveal.css";
  @import "reveal.js/dist/theme/night.css";
</style>
